/* Navigation.module.css */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.nav a {
  text-decoration: none;
}
.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
  align-items: right;
}

.navLink {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.navLink:hover {
  text-decoration: underline;
}

.activeNavLink {
  font-weight: bold;
  color: #1976d2;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

.button:hover {
  text-decoration: none;
}
.welcomeMessage {
  color: orange;
  font-weight: bold;
}

.welcomeText {
  text-transform: capitalize;
}

.emailText {
  text-transform: lowercase;
}
