/* Navigation.module.css */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
  align-items: right;
}

.navLink {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.navLink:hover {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

.button:hover {
  text-decoration: underline;
}
